
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 126.4rem;
}.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .untitled-site-page-Db2 {
    background-color: #ffffff;
    flex-shrink: 0;
    width: 100%;
    height: 0.1rem;
    overflow: hidden;
    position: relative;
  }
  .auto-group-e13r-W4L {
    box-sizing: border-box;
    padding: 0 0.0335rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-gzw4-kMz {
      margin-bottom: 3.821rem;
      width: 100%;
      height: 146.46rem;
      position: relative;
      flex-shrink: 0;

      .divsection-dwa {
        position: absolute;
        left: 0;
        padding: 1.4rem 0rem 13.027rem 0rem;
        height: 35rem;
        top: 4.6rem;
        background-size: 100% 100%;
        background-image: url('REPLACE_IMAGE:31c0a357cc702f80fd2104e6d4d827f2019488dd');
        box-sizing: border-box;
        width: 126.333rem;

        .nav-7br {
          width: 100%;
          height: 6rem;
          background-color: #13322b;
          margin-bottom: 7.5165rem;
          box-sizing: border-box;
          padding: 0rem 6.166rem 0rem 6.167rem;

          .divcontainer-RsS {
            height: 100%;
            position: relative;
            width: 100%;

            .siged-Uz8 {
              font-family: Montserrat, 'Source Sans Pro';
              width: 6.4rem;
              height: 2.5rem;
              position: absolute;
              left: 0;
              top: 1.5835rem;
              font-weight: 300;
              line-height: 1.25;
              white-space: nowrap;
              display: flex;
              font-size: 2rem;
              text-transform: uppercase;
              color: #ffffff;
            }
            .divsubenlaces-vLL {
              top: 0;
              background-color: #13322b;
              box-sizing: border-box;
              padding: 1.983rem 0.607rem 1.517rem 32.416rem;
              width: 114rem;
              height: 6rem;
              position: absolute;
              left: 0;

              .list-EM2 {
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;

                .item-link-NTE {
                  height: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;
                  margin-right: 3.031rem;

                  .symbol-7Qp {
                    color: #ffffff;
                    font-family: Font Awesome 5 Free, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin: 0.066rem 1.22rem 0rem 0rem;
                    display: flex;
                    font-size: 1.5875rem;
                    font-weight: 900;
                    line-height: 1.0078740157;
                  }
                  .inicio-Qep {
                    font-weight: 300;
                    line-height: 1.5625;
                    color: #ffffff;
                    font-family: Montserrat, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    font-size: 1.6rem;
                  }
                }
                .item-link-hdv {
                  margin-right: 3.049rem;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .symbol-z7E {
                    margin: 0.066rem 0.82rem 0rem 0rem;
                    color: #ffffff;
                    font-family: Font Awesome 5 Free, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    font-size: 1.6rem;
                    font-weight: 900;
                    line-height: 1;
                  }
                  .referencias-5eU {
                    font-family: Montserrat, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    font-size: 1.6rem;
                    font-weight: 300;
                    line-height: 1.5625;
                    color: #ffffff;
                  }
                }
                .item-link-1o2 {
                  height: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;
                  margin-right: 3.207rem;

                  .symbol-mGQ {
                    font-weight: 900;
                    line-height: 1;
                    color: #ffffff;
                    font-family: Font Awesome 5 Free, 'Source Sans Pro';
                    white-space: nowrap;
                    margin: 0.066rem 1.02rem 0rem 0rem;
                    font-size: 1.6rem;
                    display: flex;
                    flex-shrink: 0;
                  }
                  .sistema-interactivo-HVe {
                    line-height: 1.5625;
                    color: #ffffff;
                    font-family: Montserrat, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    font-size: 1.6rem;
                    font-weight: 300;
                  }
                }
                .item-link-pkU {
                  margin-right: 3.63rem;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .before-BL8 {
                    height: 1.867rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-bottom: 0.266rem;
                    width: 1.6rem;
                  }
                  .tableros-analticos-Jfe {
                    display: flex;
                    font-size: 1.6rem;
                    font-weight: 300;
                    line-height: 1.5625;
                    color: #ffffff;
                    font-family: Montserrat, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
                .item-link-oMW {
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;
                  height: 100%;

                  .before-YK6 {
                    height: 1.867rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-bottom: 0.266rem;
                    width: 1.6rem;
                  }
                  .aviso-de-privacidad-tNx {
                    flex-shrink: 0;
                    display: flex;
                    font-size: 1.6rem;
                    font-weight: 300;
                    line-height: 1.5625;
                    color: #ffffff;
                    font-family: Montserrat, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                }
              }
            }
          }
        }
        .divtextos-Q6Q {
          margin-left: 7.667rem;
          display: flex;
          flex-direction: column;

          .sistema-de-informacin-y-gestin-educativa-93z {
            margin-bottom: 1.257rem;
            font-weight: 500;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            font-size: 2.4rem;
            line-height: 1.0999999841;
            flex-shrink: 0;
          }
          .validacin-de-documentos-acadmicos-electrnicos-ELL {
            font-weight: 500;
            line-height: 1.0999999728;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 2.8rem;
          }
        }
        .divsection-dwa-bg {
          width: 126.333rem;
          height: 35rem;
          position: relative;
          background-image: url('REPLACE_IMAGE:31c0a357cc702f80fd2104e6d4d827f2019488dd');
        }
      }
      .before-ShJ {
        height: 0.5rem;
        position: absolute;
        left: 6.167rem;
        top: 122.84rem;
        background-color: #b38e5d;
        width: 3.5rem;
      }
      .main-xvY {
        height: 109.76rem;
        position: absolute;
        left: 6.167rem;
        top: 36.7rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 115.5rem;

        .auto-group-tnvy-f4G {
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 3.6655rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .section-CK6 {
            width: 114rem;
            height: 17.838rem;
            background-color: #ffffff;
            flex-shrink: 0;

            .form-Lw6 {
              display: flex;
              flex-direction: column;
              border: solid 0.2rem #545454;
              box-sizing: border-box;
              padding: 3rem 3.45rem 3.305rem 3.766rem;
              align-items: center;
              border-radius: 1rem;
              width: 100%;
              height: 14.838rem;
              background-color: #545454;

              .divcol-md-12-sAL {
                margin-bottom: 0.933rem;
                width: 100%;
                height: 5rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .input-QRA {
                  flex-shrink: 0;
                  height: 100%;
                  border: solid 0.1rem #cccccc;
                  padding: 1.4rem 1.666rem 1.4rem 1.667rem;
                  width: 51.733rem;
                  background-color: #e1e1e1;
                  border-radius: 0.2rem;
                  margin-right: 2.684rem;
                  box-sizing: border-box;

                  .divh2d-4e3e5f0d-jTS {
                    width: 100%;
                    line-height: 1.2175;
                    color: #000000;
                    font-weight: 300;
                    font-family: Montserrat, 'Source Sans Pro';
                    white-space: nowrap;
                    height: 100%;
                    overflow: hidden;
                    position: relative;
                    display: flex;
                    font-size: 1.8rem;
                  }
                }
                .button-CM2 {
                  box-shadow: 0 0.2rem 0 #2390b0;
                  width: 25rem;
                  font-weight: 300;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  background-color: #5bc0de;
                  border-radius: 0.3rem;
                  flex-shrink: 0;
                  margin-right: 2.367rem;
                  height: 100%;
                  justify-content: center;
                  font-size: 1.8rem;
                  display: flex;
                  align-items: center;
                  line-height: 1.4283332825;
                  color: #ffffff;
                }
                .button-EoW {
                  font-family: Montserrat, 'Source Sans Pro';
                  border-radius: 0.3rem;
                  flex-shrink: 0;
                  height: 100%;
                  align-items: center;
                  justify-content: center;
                  white-space: nowrap;
                  box-shadow: 0 0.2rem 0 #c77c11;
                  font-size: 1.8rem;
                  line-height: 1.4283332825;
                  width: 25rem;
                  display: flex;
                  font-weight: 300;
                  color: #ffffff;
                  background-color: #f0ad4e;
                }
              }
              .ubica-el-folio-en-tu-certificado-hBJ {
                color: #ffffff;
                white-space: nowrap;
                margin-right: 0.836rem;
                display: flex;
                line-height: 1.4283332825;
                font-family: Montserrat, 'Source Sans Pro';
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 300;
              }
            }
          }
          .section-ordered-list-9oz {
            height: 6.971rem;
            display: flex;
            align-items: center;
            border-radius: 0.4rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 2.133rem 22.794rem 2.238rem 0rem;

            .item-link-inicio-fnL {
              line-height: 1.4283332825;
              color: #393c3e;
              flex-shrink: 0;
              font-size: 1.8rem;
              display: flex;
              font-weight: 300;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              margin-right: 1.044rem;
            }
            .item-maU {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-right: 1.025rem;
              height: 100%;

              .symbol-XJk {
                display: flex;
                font-size: 1rem;
                font-weight: 300;
                flex-shrink: 0;
                margin: 0.4rem 0.468rem 0rem 0rem;
                color: #545454;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                line-height: 1.4289999962;
              }
              .link-consultas-SAp {
                line-height: 1.4283332825;
                color: #393c3e;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.8rem;
                font-weight: 300;
              }
            }
            .item-j9v {
              flex-shrink: 0;
              height: 100%;
              display: flex;
              align-items: center;

              .symbol-UdJ {
                display: flex;
                font-size: 1rem;
                font-weight: 300;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0.4rem 0.468rem 0rem 0rem;
                color: #545454;
                flex-shrink: 0;
                line-height: 1.4289999962;
              }
              .link-documentos-acadmicos-electrnicos-bT2 {
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.8rem;
                font-weight: 300;
                line-height: 1.4283332825;
                color: #393c3e;
              }
            }
          }
        }
        .section-J6Y {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .divcol-md-12-rNx {
            margin: 0rem 0rem 7.716rem 1.5rem;
            width: 114rem;
            flex-shrink: 0;

            .detalle-del-documento-PNt {
              display: flex;
              font-size: 2.4rem;
              font-weight: 600;
              line-height: 1.0999999841;
              color: #404041;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 1.2735rem;
            }
            .auto-group-6atl-iRA {
              box-sizing: border-box;
              padding-top: 0.067rem;
              width: 100%;
              height: 0.567rem;

              .before-3iL {
                background-color: #b38e5d;
                width: 3.5rem;
                height: 100%;
              }
            }
          }
          .divcontainer-BJk {
            flex-shrink: 0;
            margin: 0rem 0rem 3.571rem 5.5rem;
            width: 91.999rem;
            align-items: center;
            display: flex;
            flex-direction: column;

            .auto-group-c6lt-6Ri {
              height: 17.892rem;
              position: relative;
              flex-shrink: 0;
              margin: 0rem 7.101rem 2.467rem 0rem;
              width: 84.898rem;

              .divrow-mnk {
                left: 0;
                top: 0;
                display: flex;
                align-items: flex-start;
                width: 84.898rem;
                height: 17.7835rem;
                position: absolute;

                .symbol-K3a {
                  color: #545454;
                  margin: 3.783rem 16.498rem 0rem 0rem;
                  font-weight: 900;
                  line-height: 1;
                  font-family: Font Awesome 5 Free, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 14rem;
                }
                .divcontainer-Due {
                  height: 7.669rem;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .divcolnombre-aEQ {
                    margin-right: 4.3985rem;
                    width: 24.1015rem;
                    height: 100%;
                    flex-shrink: 0;

                    .nombre-7k8 {
                      margin-bottom: 1.263rem;
                      display: flex;
                      font-size: 1.8rem;
                      font-weight: 700;
                      line-height: 1.0999999576;
                      color: #404041;
                      font-family: Montserrat, 'Source Sans Pro';
                      white-space: nowrap;
                    }
                    .ph2d-96ae8a77-S1i {
                      width: 100%;
                      display: flex;
                      flex-direction: column;

                      .luis-enrique-Phe {
                        font-family: Montserrat, 'Source Sans Pro';
                        flex-shrink: 0;
                        display: flex;
                        font-weight: 300;
                        line-height: 1.2222222222;
                        white-space: nowrap;
                        margin-bottom: 0.006rem;
                        font-size: 1.8rem;
                        color: #404041;
                      }
                      .guerrero-zahuantitla-hyE {
                        margin-left: 0.1015rem;
                        display: flex;
                        font-size: 1.8rem;
                        font-family: Montserrat, 'Source Sans Pro';
                        font-weight: 300;
                        line-height: 1.2222222222;
                        color: #404041;
                        white-space: nowrap;
                        flex-shrink: 0;
                      }
                    }
                  }
                  .divcolestudios-Qse {
                    height: calc(100% - 0.006rem);
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;
                    margin-bottom: 0.006rem;

                    .carrera--XhN {
                      font-size: 1.8rem;
                      font-weight: 700;
                      line-height: 1.0999999576;
                      font-family: Montserrat, 'Source Sans Pro';
                      margin-bottom: 1.263rem;
                      display: flex;
                      color: #404041;
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                    .bachillerato-con-formacin-bsica-para-el-trabajo-F7a {
                      font-family: Montserrat, 'Source Sans Pro';
                      flex-shrink: 0;
                      max-width: 31.4rem;
                      display: flex;
                      font-size: 1.8rem;
                      font-weight: 300;
                      line-height: 1.2222222222;
                      color: #404041;
                    }
                  }
                }
              }
              .divrow-L92 {
                height: 7.663rem;
                position: absolute;
                left: 25.148rem;
                top: 10.229rem;
                display: flex;
                align-items: flex-start;
                width: 53.15rem;

                .divcoldocumento-4Kv {
                  margin-right: 10.75rem;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .tipo-de-documento-p4C {
                    flex-shrink: 0;
                    font-size: 1.8rem;
                    color: #404041;
                    white-space: nowrap;
                    line-height: 1.0999999576;
                    font-family: Montserrat, 'Source Sans Pro';
                    margin: 0rem 0rem 1.263rem 0.1rem;
                    display: flex;
                    font-weight: 700;
                  }
                  .terminacin-XDW {
                    font-family: Montserrat, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    font-size: 1.8rem;
                    font-weight: 300;
                    line-height: 1.2222222222;
                    color: #404041;
                  }
                }
                .divcolfolio-rma {
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .folio-cVr {
                    margin-bottom: 1.263rem;
                    font-weight: 700;
                    font-family: Montserrat, 'Source Sans Pro';
                    flex-shrink: 0;
                    display: flex;
                    font-size: 1.8rem;
                    line-height: 1.0999999576;
                    color: #404041;
                    white-space: nowrap;
                  }
                  .a8365c-73f9-4e5d-bec2-09c4c978c67-YeQ {
                    max-width: 23.8rem;
                    display: flex;
                    font-size: 1.8rem;
                    line-height: 1.2222222222;
                    color: #404041;
                    font-family: Montserrat, 'Source Sans Pro';
                    flex-shrink: 0;
                    font-weight: 300;
                    text-transform: lowercase;
                  }
                }
              }
            }
            .divrow-Cyr {
              flex-shrink: 0;
              margin: 0rem 17.599rem 1.25rem 25.25rem;
              width: calc(100% - 42.849rem);
              height: 7.662rem;
              display: flex;
              align-items: flex-start;

              .divcolautoridad-XFS {
                margin-right: 4.65rem;
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .autoridad-emisora-Gyi {
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  font-size: 1.8rem;
                  font-weight: 700;
                  line-height: 1.0999999576;
                  color: #404041;
                  margin-bottom: 1.262rem;
                  display: flex;
                  flex-shrink: 0;
                }
                .subsecretara-de-educacin-obligatoria-oTr {
                  line-height: 1.2222222222;
                  color: #404041;
                  font-family: Montserrat, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 24.6rem;
                  display: flex;
                  font-size: 1.8rem;
                  font-weight: 300;
                }
              }
              .divcolfecha-iqi {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .fecha-registro-siged-UZz {
                  display: flex;
                  font-family: Montserrat, 'Source Sans Pro';
                  flex-shrink: 0;
                  color: #404041;
                  white-space: nowrap;
                  margin-bottom: 1.262rem;
                  font-size: 1.8rem;
                  font-weight: 700;
                  line-height: 1.0999999576;
                }
                .item-09-02-2023-09-11-39-CVz {
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.8rem;
                  font-weight: 300;
                  line-height: 1.2222222222;
                  color: #404041;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
            .divrow-7sr {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-left: 23.75rem;
              width: calc(100% - 23.75rem);
              height: 12.5rem;

              .divcolpromedio-FjA {
                border-radius: 0.4rem;
                margin-right: 9.749rem;
                box-sizing: border-box;
                padding: 3.417rem 5.208rem 1.421rem 5.242rem;
                align-items: center;
                display: flex;
                background-color: #dff0d8;
                height: 100%;
                flex-direction: column;
                border: solid 0.2rem #d6e9c6;
                flex-shrink: 0;

                .promedio--vaQ {
                  font-weight: 700;
                  line-height: 1.0999999576;
                  color: #3c763d;
                  white-space: nowrap;
                  display: flex;
                  align-items: center;
                  font-size: 1.8rem;
                  flex-shrink: 0;
                  margin: 0rem 0rem 1.262rem 0.118rem;
                  justify-content: center;
                  font-family: Montserrat, 'Source Sans Pro';
                }
                .item-75-QVa {
                  margin-right: 0.0015rem;
                  font-weight: 300;
                  color: #3c763d;
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 1.8rem;
                  line-height: 1.2222222222;
                  font-family: Montserrat, 'Source Sans Pro';
                }
                .siete-punto-cinco-KcY {
                  justify-content: center;
                  line-height: 1.2222222222;
                  font-family: Montserrat, 'Source Sans Pro';
                  flex-shrink: 0;
                  align-items: center;
                  font-size: 1.8rem;
                  font-weight: 300;
                  color: #3c763d;
                  white-space: nowrap;
                  display: flex;
                }
              }
              .divcolestatus-cbe {
                display: flex;
                flex-direction: column;
                background-color: #d9edf7;
                box-sizing: border-box;
                padding: 3.417rem 3.515rem 3.854rem 3.835rem;
                height: 100%;
                align-items: center;
                border: solid 0.2rem #bce8f1;
                border-radius: 0.4rem;
                flex-shrink: 0;

                .estatus-del-documento-kC4 {
                  font-weight: 700;
                  line-height: 1.0999999576;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-bottom: 1.229rem;
                  display: flex;
                  justify-content: center;
                  flex-shrink: 0;
                  align-items: center;
                  font-size: 1.8rem;
                  color: #31708f;
                }
                .registrado-UNx {
                  justify-content: center;
                  font-size: 1.8rem;
                  line-height: 1.0999999576;
                  font-family: Montserrat, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-right: 0.282rem;
                  display: flex;
                  align-items: center;
                  font-weight: 600;
                  color: #31708f;
                  white-space: nowrap;
                }
              }
            }
          }
          .section-Ytc {
            box-sizing: border-box;
            padding-top: 3.587rem;
            width: 114rem;
            height: 23.687rem;
            flex-shrink: 0;

            .divh2d-b8f3e327-GJp {
              flex-direction: column;
              width: 112.4rem;
              height: 100%;
              align-items: center;
              display: flex;

              .la-informacin-de-los-certificados-que-se-muestran-en-este-portal-son-el-resultado-de-la-integracin-de-informacin-que-envan-las-autoridades-educativas-de-los-estados-y-la-ciudad-de-mxico-en-caso-de-que-la-informacin-presentada-no-coincida-con-tus-resultados-obtenidos-en-el-ciclo-escolar-o-no-est-disponible-por-favor-ponte-en-contacto-con-la-autoridad-de-tu-centro-escolar-PeL {
                max-width: 112.4rem;
                display: flex;
                font-size: 1.8rem;
                font-weight: 300;
                line-height: 1.2222222222;
                color: #404041;
                font-family: Montserrat, 'Source Sans Pro';
                flex-shrink: 0;
              }
              .auto-group-bket-8kL {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                box-sizing: border-box;
                padding-top: 1.25rem;
                width: 100%;

                .la-informacin-presentada-es-de-carcter-informativa-y-para-verificar-la-validez-del-documento-impreso-es-una-representacin-de-la-informacin-contenida-en-el-certificado-documento-impreso-H7S {
                  font-size: 1.8rem;
                  font-weight: 300;
                  line-height: 1.2222222222;
                  color: #404041;
                  max-width: 112rem;
                  display: flex;
                  flex-shrink: 0;
                  margin-bottom: 1.25rem;
                  font-family: Montserrat, 'Source Sans Pro';
                }
                .el-documento-oficial-es-el-que-la-institucin-educativa-entrega-a-los-padres-o-tutores-de-los-educandos-en-sus-centros-escolares-hwr {
                  color: #404041;
                  font-family: Montserrat, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 104rem;
                  display: flex;
                  font-size: 1.8rem;
                  font-weight: 300;
                  line-height: 1.2222222222;
                }
              }
            }
          }
        }
      }
      .navigation-KTS {
        height: 6rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #0c231e;
        width: 126.333rem;

        .divcontainer-fXJ {
          position: absolute;
          left: 6.167rem;
          top: 0;
          width: 114rem;
          height: 6rem;

          .divnavbar-header-CXE {
            vertical-align: top;
            width: 9.851rem;
            height: 2.9rem;
            position: absolute;
            left: 0;
            top: 1.5rem;
            object-fit: contain;
          }
          .divnavbarmaincollapse-XJc {
            position: absolute;
            left: 0;
            top: 0;
            background-color: #0c231e;
            box-sizing: border-box;
            padding: 1.983rem 0rem 1.517rem 91.996rem;
            width: 114rem;
            height: 6rem;

            .list-SAg {
              display: flex;
              align-items: center;
              width: 100%;
              height: 100%;

              .trmites-Pbi {
                font-weight: 300;
                white-space: nowrap;
                font-size: 1.6rem;
                line-height: 1.5625;
                color: #ffffff;
                font-family: Montserrat, 'Source Sans Pro';
                flex-shrink: 0;
                margin-right: 3.063rem;
                display: flex;
              }
              .gobierno-WgL {
                font-weight: 300;
                line-height: 1.5625;
                color: #ffffff;
                margin-right: 3.041rem;
                display: flex;
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-family: Montserrat, 'Source Sans Pro';
              }
              .item-link-3RN {
                margin-bottom: 0.266rem;
                width: 1.6rem;
                height: 1.667rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
        .nav-AVz {
          background-color: #0c231e;
          padding: 0rem 4.666rem 0rem 2.52rem;
          width: 126.333rem;
          height: 5.5rem;
          position: absolute;
          display: flex;
          box-sizing: border-box;
          left: 0;
          top: 0;
          align-items: center;

          .symbol-2o6 {
            display: flex;
            font-size: 3.8rem;
            font-weight: 900;
            line-height: 1;
            white-space: nowrap;
            margin: 0.566rem 1.347rem 0rem 0rem;
            text-align: right;
            color: #f3f0f3;
            font-family: Font Awesome 5 Free, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .divnavbarmaincollapse-LHz {
            box-sizing: border-box;
            padding-left: 5.5rem;
            height: 100%;
            display: flex;
            align-items: center;
            background-color: #0c231e;
            flex-shrink: 0;

            .logoheadersvg-r1S {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.526rem 21.895rem 0rem 0rem;
              width: 13.679rem;
              height: 4.026rem;
              object-fit: contain;
            }
            .list-woa {
              margin-bottom: 0.929rem;
              height: 4.571rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .auto-group-3qwk-h24 {
                height: 100%;
                display: flex;
                align-items: flex-end;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 1.983rem 1.541rem 0.088rem 0rem;

                .registro-para-vacunacin-bt8 {
                  color: #ffffff;
                  margin-right: 3.255rem;
                  line-height: 1.5625;
                  font-weight: 300;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                }
                .informacion-sobre-covid-19-7ba {
                  margin-right: 3.167rem;
                  flex-shrink: 0;
                  font-weight: 300;
                  line-height: 1.5625;
                  color: #ffffff;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  display: flex;
                  font-size: 1.6rem;
                }
                .trmites-nhi {
                  font-size: 1.6rem;
                  line-height: 1.5625;
                  color: #ffffff;
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 3.063rem;
                  display: flex;
                  font-weight: 300;
                  font-family: Montserrat, 'Source Sans Pro';
                }
                .gobierno-Vs2 {
                  font-size: 1.6rem;
                  font-weight: 300;
                  line-height: 1.5625;
                  color: #ffffff;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                }
              }
              .button-qAC {
                height: 100%;
                background-color: #0c231e;
                border-radius: 0.3rem;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 1.594rem 2.5rem 1.377rem 2.5rem;

                .lupapng-mpY {
                  width: 1.6rem;
                  height: 1.6rem;
                  position: relative;
                  background-size: 100% 100%;
                  background-image: url('REPLACE_IMAGE:60c7b3b8e0732b5816ad01aac541cff833f088a6');
                }
              }
            }
          }
        }
      }
    }
    .footer-e7e {
      flex-shrink: 0;
      box-sizing: border-box;
      padding-top: 3rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: #13322b;

      .divrow-C9A {
        margin: 0rem 7.216rem 7.012rem 6.167rem;
        width: calc(100% - 13.383rem);
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .divcol-sm-3-Jxt {
          margin-right: 5.625rem;
          width: 23.625rem;
          height: 6.954rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .divcol-sm-3-eG4 {
          margin: 1.217rem 12.95rem 0rem 0rem;
          width: 16.3rem;
          flex-shrink: 0;

          .enlaces-Ztp {
            display: flex;
            font-size: 1.8rem;
            font-weight: 300;
            line-height: 1.0999999576;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 2.1125rem;
          }
          .list-TzC {
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 100%;

            .auto-group-jh4q-oYG {
              flex-direction: column;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-bottom: 0.313rem;
              width: 100%;
              display: flex;

              .link-participa-Xz4 {
                margin-bottom: 0.313rem;
                display: flex;
                font-weight: 300;
                color: #ffffff;
                white-space: nowrap;
                font-size: 1.4rem;
                line-height: 1.4142856598;
                font-family: Montserrat, 'Source Sans Pro';
                flex-shrink: 0;
              }
              .link-publicaciones-oficiales-eon {
                color: #ffffff;
                font-family: Montserrat, 'Source Sans Pro';
                flex-shrink: 0;
                margin-bottom: 0.312rem;
                font-size: 1.4rem;
                font-weight: 300;
                line-height: 1.4142856598;
                display: flex;
                white-space: nowrap;
              }
              .link-marco-jurdico-Zvk {
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.4rem;
                font-weight: 300;
                line-height: 1.4142856598;
                color: #ffffff;
                font-family: Montserrat, 'Source Sans Pro';
              }
            }
            .link-6vg {
              flex-direction: column;
              flex-shrink: 0;
              width: 100%;
              display: flex;

              .plataforma-nacional-de-fyn {
                display: flex;
                font-size: 1.4rem;
                font-weight: 300;
                font-family: Montserrat, 'Source Sans Pro';
                flex-shrink: 0;
                margin-bottom: 0.112rem;
                line-height: 1.4142856598;
                color: #ffffff;
                white-space: nowrap;
              }
              .transparencia-zmA {
                font-size: 1.4rem;
                font-weight: 300;
                line-height: 1.4142856598;
                color: #ffffff;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
              }
            }
            .auto-group-pd2k-YGt {
              box-sizing: border-box;
              padding-top: 0.313rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .link-alerta-t5r {
                margin-bottom: 0.312rem;
                display: flex;
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 300;
                line-height: 1.4142856598;
                color: #ffffff;
                font-family: Montserrat, 'Source Sans Pro';
              }
              .link-denuncia-AZA {
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.4rem;
                font-weight: 300;
                line-height: 1.4142856598;
                color: #ffffff;
                font-family: Montserrat, 'Source Sans Pro';
              }
            }
          }
        }
        .divcol-sm-3-Hdn {
          margin: 1.217rem 7.05rem 0rem 0rem;
          width: 22.2rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-fzsp-DXS {
            box-sizing: border-box;
            padding-bottom: 1.606rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .qu-es-gobmx-mYx {
              display: flex;
              font-size: 1.8rem;
              line-height: 1.0999999576;
              color: #ffffff;
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.9155rem;
              font-weight: 300;
              font-family: Montserrat, 'Source Sans Pro';
            }
            .es-el-portal-nico-de-trmites-informacin-y-participacin-ciudadana-leer-ms-HnC {
              font-size: 1.4rem;
              font-weight: 300;
              line-height: 1.3600000654;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 20.5rem;
              display: flex;
            }
          }
          .list-b2C {
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-opgk-LkU {
              flex-direction: column;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-bottom: 0.313rem;
              width: 100%;
              display: flex;

              .link-portal-de-datos-abiertos-g3e {
                line-height: 1.4142856598;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                font-size: 1.4rem;
                font-weight: 300;
                color: #ffffff;
                flex-shrink: 0;
                margin-bottom: 0.313rem;
              }
              .link-declaracin-de-accesibilidad-bRW {
                margin-bottom: 0.312rem;
                display: flex;
                font-size: 1.4rem;
                white-space: nowrap;
                flex-shrink: 0;
                font-weight: 300;
                line-height: 1.4142856598;
                color: #ffffff;
                font-family: Montserrat, 'Source Sans Pro';
              }
              .link-aviso-de-privacidad-integral-5Lg {
                display: flex;
                font-size: 1.4rem;
                font-weight: 300;
                line-height: 1.4142856598;
                color: #ffffff;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .link-aviso-de-privacidad-simplificado-PcG {
              display: flex;
              font-size: 1.4rem;
              font-weight: 300;
              line-height: 1.4142856598;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .auto-group-jdit-XCg {
              box-sizing: border-box;
              padding-top: 0.312rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .link-trminos-y-condiciones-UNp {
                color: #ffffff;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                line-height: 1.4142856598;
                margin-bottom: 0.313rem;
                display: flex;
                font-size: 1.4rem;
                font-weight: 300;
              }
              .link-poltica-de-seguridad-zc4 {
                font-weight: 300;
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.312rem;
                display: flex;
                font-size: 1.4rem;
                line-height: 1.4142856598;
                color: #ffffff;
                font-family: Montserrat, 'Source Sans Pro';
              }
              .link-mapa-de-sitio-Jse {
                font-weight: 300;
                line-height: 1.4142856598;
                color: #ffffff;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.4rem;
              }
            }
          }
        }
        .divcol-sm-3-qMn {
          flex-shrink: 0;
          margin-top: 1.5505rem;
          width: 25.2rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .link-denuncia-contra-servidores-pblicos-mmE {
            flex-shrink: 0;
            display: flex;
            font-size: 1.4rem;
            font-weight: 300;
            line-height: 1.0999999728;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-rkfs-tax {
            flex-shrink: 0;
            box-sizing: border-box;
            padding-top: 2.0455rem;
            width: 100%;
            display: flex;
            flex-direction: column;

            .sguenos-en-R56 {
              margin-bottom: 2.013rem;
              font-size: 1.8rem;
              line-height: 1.0999999576;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-weight: 300;
              color: #ffffff;
            }
            .list-vnY {
              margin: 0rem 19.3rem 0rem 0.7rem;
              width: calc(100% - 20rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .item-link-facebook-de-presidencia-Fpp {
                margin-right: 1.4rem;
                position: relative;
                background-size: 1178.571% 100%;
                background-position: 0 0;
                flex-shrink: 0;
                width: 1.4rem;
                height: 2rem;
                background-image: url('REPLACE_IMAGE:d257a59fda9cb767b2089381932484f90d661d9e');
                border-radius: 0.85rem;
              }
              .item-link-twitter-de-presidencia-wBr {
                background-position: -3.4rem 0;
                background-image: url('REPLACE_IMAGE:d257a59fda9cb767b2089381932484f90d661d9e');
                border-radius: 1.1rem;
                flex-shrink: 0;
                width: 2.4rem;
                height: 2rem;
                position: relative;
                background-size: 687.5% 100%;
              }
            }
          }
        }
      }
      .divcontainer-fluid-pmS {
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 126.333rem;
        height: 5.142rem;
      }
    }
  }
}
