
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 126.4rem;
}.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .untitled-site-page-Db2 {
  width: 100%;
  height: 0.1rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L {
  box-sizing: border-box;
  padding: 0 0.0335rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz {
  margin-bottom: 3.821rem;
  width: 100%;
  height: 146.46rem;
  position: relative;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .divsection-dwa {
  box-sizing: border-box;
  padding: 1.4rem 0rem 13.027rem 0rem;
  width: 126.333rem;
  height: 35rem;
  position: absolute;
  left: 0;
  top: 4.6rem;
  background-size: 100% 100%;
  background-image: url('../assets/documentoscertipng-bg.png');
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .divsection-dwa .nav-7br {
  margin-bottom: 7.5165rem;
  box-sizing: border-box;
  padding: 0rem 6.166rem 0rem 6.167rem;
  width: 100%;
  height: 6rem;
  background-color: #13322b;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .divsection-dwa .nav-7br .divcontainer-RsS {
  width: 100%;
  height: 100%;
  position: relative;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .divsection-dwa .nav-7br .divcontainer-RsS .siged-Uz8 {
  width: 6.4rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 1.5835rem;
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.25;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .divsection-dwa .nav-7br .divcontainer-RsS .divsubenlaces-vLL {
  box-sizing: border-box;
  padding: 1.983rem 0.607rem 1.517rem 32.416rem;
  width: 114rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #13322b;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .divsection-dwa .nav-7br .divcontainer-RsS .divsubenlaces-vLL .list-EM2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .divsection-dwa .nav-7br .divcontainer-RsS .divsubenlaces-vLL .list-EM2 .item-link-NTE {
  margin-right: 3.031rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .divsection-dwa .nav-7br .divcontainer-RsS .divsubenlaces-vLL .list-EM2 .item-link-NTE .symbol-7Qp {
  margin: 0.066rem 1.22rem 0rem 0rem;
  display: flex;
  font-size: 1.5875rem;
  font-weight: 900;
  line-height: 1.0078740157;
  color: #ffffff;
  font-family: Font Awesome 5 Free, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .divsection-dwa .nav-7br .divcontainer-RsS .divsubenlaces-vLL .list-EM2 .item-link-NTE .inicio-Qep {
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .divsection-dwa .nav-7br .divcontainer-RsS .divsubenlaces-vLL .list-EM2 .item-link-hdv {
  margin-right: 3.049rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .divsection-dwa .nav-7br .divcontainer-RsS .divsubenlaces-vLL .list-EM2 .item-link-hdv .symbol-z7E {
  margin: 0.066rem 0.82rem 0rem 0rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1;
  color: #ffffff;
  font-family: Font Awesome 5 Free, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .divsection-dwa .nav-7br .divcontainer-RsS .divsubenlaces-vLL .list-EM2 .item-link-hdv .referencias-5eU {
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .divsection-dwa .nav-7br .divcontainer-RsS .divsubenlaces-vLL .list-EM2 .item-link-1o2 {
  margin-right: 3.207rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .divsection-dwa .nav-7br .divcontainer-RsS .divsubenlaces-vLL .list-EM2 .item-link-1o2 .symbol-mGQ {
  margin: 0.066rem 1.02rem 0rem 0rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1;
  color: #ffffff;
  font-family: Font Awesome 5 Free, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .divsection-dwa .nav-7br .divcontainer-RsS .divsubenlaces-vLL .list-EM2 .item-link-1o2 .sistema-interactivo-HVe {
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .divsection-dwa .nav-7br .divcontainer-RsS .divsubenlaces-vLL .list-EM2 .item-link-pkU {
  margin-right: 3.63rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .divsection-dwa .nav-7br .divcontainer-RsS .divsubenlaces-vLL .list-EM2 .item-link-pkU .before-BL8 {
  margin-bottom: 0.266rem;
  width: 1.6rem;
  height: 1.867rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .divsection-dwa .nav-7br .divcontainer-RsS .divsubenlaces-vLL .list-EM2 .item-link-pkU .tableros-analticos-Jfe {
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .divsection-dwa .nav-7br .divcontainer-RsS .divsubenlaces-vLL .list-EM2 .item-link-oMW {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .divsection-dwa .nav-7br .divcontainer-RsS .divsubenlaces-vLL .list-EM2 .item-link-oMW .before-YK6 {
  margin-bottom: 0.266rem;
  width: 1.6rem;
  height: 1.867rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .divsection-dwa .nav-7br .divcontainer-RsS .divsubenlaces-vLL .list-EM2 .item-link-oMW .aviso-de-privacidad-tNx {
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .divsection-dwa .divtextos-Q6Q {
  margin-left: 7.667rem;
  display: flex;
  flex-direction: column;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .divsection-dwa .divtextos-Q6Q .sistema-de-informacin-y-gestin-educativa-93z {
  margin-bottom: 1.257rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.0999999841;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .divsection-dwa .divtextos-Q6Q .validacin-de-documentos-acadmicos-electrnicos-ELL {
  display: flex;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.0999999728;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .divsection-dwa .divsection-dwa-bg {
  width: 126.333rem;
  height: 35rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:31c0a357cc702f80fd2104e6d4d827f2019488dd');
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .before-ShJ {
  width: 3.5rem;
  height: 0.5rem;
  position: absolute;
  left: 6.167rem;
  top: 122.84rem;
  background-color: #b38e5d;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY {
  width: 115.5rem;
  height: 109.76rem;
  position: absolute;
  left: 6.167rem;
  top: 36.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .auto-group-tnvy-f4G {
  box-sizing: border-box;
  padding-bottom: 3.6655rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .auto-group-tnvy-f4G .section-CK6 {
  width: 114rem;
  height: 17.838rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .auto-group-tnvy-f4G .section-CK6 .form-Lw6 {
  box-sizing: border-box;
  padding: 3rem 3.45rem 3.305rem 3.766rem;
  width: 100%;
  height: 14.838rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem #545454;
  background-color: #545454;
  border-radius: 1rem;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .auto-group-tnvy-f4G .section-CK6 .form-Lw6 .divcol-md-12-sAL {
  margin-bottom: 0.933rem;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .auto-group-tnvy-f4G .section-CK6 .form-Lw6 .divcol-md-12-sAL .input-QRA {
  margin-right: 2.684rem;
  box-sizing: border-box;
  padding: 1.4rem 1.666rem 1.4rem 1.667rem;
  width: 51.733rem;
  height: 100%;
  border: solid 0.1rem #cccccc;
  background-color: #e1e1e1;
  border-radius: 0.2rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .auto-group-tnvy-f4G .section-CK6 .form-Lw6 .divcol-md-12-sAL .input-QRA .divh2d-4e3e5f0d-jTS {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .auto-group-tnvy-f4G .section-CK6 .form-Lw6 .divcol-md-12-sAL .button-CM2 {
  margin-right: 2.367rem;
  width: 25rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.4283332825;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.2rem 0 #2390b0;
  background-color: #5bc0de;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .auto-group-tnvy-f4G .section-CK6 .form-Lw6 .divcol-md-12-sAL .button-EoW {
  width: 25rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.4283332825;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.2rem 0 #c77c11;
  background-color: #f0ad4e;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .auto-group-tnvy-f4G .section-CK6 .form-Lw6 .ubica-el-folio-en-tu-certificado-hBJ {
  margin-right: 0.836rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.4283332825;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .auto-group-tnvy-f4G .section-ordered-list-9oz {
  box-sizing: border-box;
  padding: 2.133rem 22.794rem 2.238rem 0rem;
  height: 6.971rem;
  display: flex;
  align-items: center;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .auto-group-tnvy-f4G .section-ordered-list-9oz .item-link-inicio-fnL {
  margin-right: 1.044rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.4283332825;
  color: #393c3e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .auto-group-tnvy-f4G .section-ordered-list-9oz .item-maU {
  margin-right: 1.025rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .auto-group-tnvy-f4G .section-ordered-list-9oz .item-maU .symbol-XJk {
  margin: 0.4rem 0.468rem 0rem 0rem;
  display: flex;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4289999962;
  color: #545454;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .auto-group-tnvy-f4G .section-ordered-list-9oz .item-maU .link-consultas-SAp {
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.4283332825;
  color: #393c3e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .auto-group-tnvy-f4G .section-ordered-list-9oz .item-j9v {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .auto-group-tnvy-f4G .section-ordered-list-9oz .item-j9v .symbol-UdJ {
  margin: 0.4rem 0.468rem 0rem 0rem;
  display: flex;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4289999962;
  color: #545454;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .auto-group-tnvy-f4G .section-ordered-list-9oz .item-j9v .link-documentos-acadmicos-electrnicos-bT2 {
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.4283332825;
  color: #393c3e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcol-md-12-rNx {
  margin: 0rem 0rem 7.716rem 1.5rem;
  width: 114rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcol-md-12-rNx .detalle-del-documento-PNt {
  margin-bottom: 1.2735rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.0999999841;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcol-md-12-rNx .auto-group-6atl-iRA {
  box-sizing: border-box;
  padding-top: 0.067rem;
  width: 100%;
  height: 0.567rem;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcol-md-12-rNx .auto-group-6atl-iRA .before-3iL {
  width: 3.5rem;
  height: 100%;
  background-color: #b38e5d;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk {
  margin: 0rem 0rem 3.571rem 5.5rem;
  width: 91.999rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .auto-group-c6lt-6Ri {
  margin: 0rem 7.101rem 2.467rem 0rem;
  width: 84.898rem;
  height: 17.892rem;
  position: relative;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .auto-group-c6lt-6Ri .divrow-mnk {
  width: 84.898rem;
  height: 17.7835rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-start;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .auto-group-c6lt-6Ri .divrow-mnk .symbol-K3a {
  margin: 3.783rem 16.498rem 0rem 0rem;
  display: flex;
  font-size: 14rem;
  font-weight: 900;
  line-height: 1;
  color: #545454;
  font-family: Font Awesome 5 Free, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .auto-group-c6lt-6Ri .divrow-mnk .divcontainer-Due {
  height: 7.669rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .auto-group-c6lt-6Ri .divrow-mnk .divcontainer-Due .divcolnombre-aEQ {
  margin-right: 4.3985rem;
  width: 24.1015rem;
  height: 100%;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .auto-group-c6lt-6Ri .divrow-mnk .divcontainer-Due .divcolnombre-aEQ .nombre-7k8 {
  margin-bottom: 1.263rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.0999999576;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .auto-group-c6lt-6Ri .divrow-mnk .divcontainer-Due .divcolnombre-aEQ .ph2d-96ae8a77-S1i {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .auto-group-c6lt-6Ri .divrow-mnk .divcontainer-Due .divcolnombre-aEQ .ph2d-96ae8a77-S1i .luis-enrique-Phe {
  margin-bottom: 0.006rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .auto-group-c6lt-6Ri .divrow-mnk .divcontainer-Due .divcolnombre-aEQ .ph2d-96ae8a77-S1i .guerrero-zahuantitla-hyE {
  margin-left: 0.1015rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .auto-group-c6lt-6Ri .divrow-mnk .divcontainer-Due .divcolestudios-Qse {
  margin-bottom: 0.006rem;
  height: calc(100% - 0.006rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .auto-group-c6lt-6Ri .divrow-mnk .divcontainer-Due .divcolestudios-Qse .carrera--XhN {
  margin-bottom: 1.263rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.0999999576;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .auto-group-c6lt-6Ri .divrow-mnk .divcontainer-Due .divcolestudios-Qse .bachillerato-con-formacin-bsica-para-el-trabajo-F7a {
  max-width: 31.4rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .auto-group-c6lt-6Ri .divrow-L92 {
  width: 53.15rem;
  height: 7.663rem;
  position: absolute;
  left: 25.148rem;
  top: 10.229rem;
  display: flex;
  align-items: flex-start;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .auto-group-c6lt-6Ri .divrow-L92 .divcoldocumento-4Kv {
  margin-right: 10.75rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .auto-group-c6lt-6Ri .divrow-L92 .divcoldocumento-4Kv .tipo-de-documento-p4C {
  margin: 0rem 0rem 1.263rem 0.1rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.0999999576;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .auto-group-c6lt-6Ri .divrow-L92 .divcoldocumento-4Kv .terminacin-XDW {
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .auto-group-c6lt-6Ri .divrow-L92 .divcolfolio-rma {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .auto-group-c6lt-6Ri .divrow-L92 .divcolfolio-rma .folio-cVr {
  margin-bottom: 1.263rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.0999999576;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .auto-group-c6lt-6Ri .divrow-L92 .divcolfolio-rma .a8365c-73f9-4e5d-bec2-09c4c978c67-YeQ {
  max-width: 23.8rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  text-transform: lowercase;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .divrow-Cyr {
  margin: 0rem 17.599rem 1.25rem 25.25rem;
  width: calc(100% - 42.849rem);
  height: 7.662rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .divrow-Cyr .divcolautoridad-XFS {
  margin-right: 4.65rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .divrow-Cyr .divcolautoridad-XFS .autoridad-emisora-Gyi {
  margin-bottom: 1.262rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.0999999576;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .divrow-Cyr .divcolautoridad-XFS .subsecretara-de-educacin-obligatoria-oTr {
  max-width: 24.6rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .divrow-Cyr .divcolfecha-iqi {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .divrow-Cyr .divcolfecha-iqi .fecha-registro-siged-UZz {
  margin-bottom: 1.262rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.0999999576;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .divrow-Cyr .divcolfecha-iqi .item-09-02-2023-09-11-39-CVz {
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .divrow-7sr {
  margin-left: 23.75rem;
  width: calc(100% - 23.75rem);
  height: 12.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .divrow-7sr .divcolpromedio-FjA {
  margin-right: 9.749rem;
  box-sizing: border-box;
  padding: 3.417rem 5.208rem 1.421rem 5.242rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem #d6e9c6;
  background-color: #dff0d8;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .divrow-7sr .divcolpromedio-FjA .promedio--vaQ {
  margin: 0rem 0rem 1.262rem 0.118rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.0999999576;
  color: #3c763d;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .divrow-7sr .divcolpromedio-FjA .item-75-QVa {
  margin-right: 0.0015rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #3c763d;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .divrow-7sr .divcolpromedio-FjA .siete-punto-cinco-KcY {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #3c763d;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .divrow-7sr .divcolestatus-cbe {
  box-sizing: border-box;
  padding: 3.417rem 3.515rem 3.854rem 3.835rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem #bce8f1;
  background-color: #d9edf7;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .divrow-7sr .divcolestatus-cbe .estatus-del-documento-kC4 {
  margin-bottom: 1.229rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.0999999576;
  color: #31708f;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .divcontainer-BJk .divrow-7sr .divcolestatus-cbe .registrado-UNx {
  margin-right: 0.282rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.0999999576;
  color: #31708f;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .section-Ytc {
  box-sizing: border-box;
  padding-top: 3.587rem;
  width: 114rem;
  height: 23.687rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .section-Ytc .divh2d-b8f3e327-GJp {
  width: 112.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .section-Ytc .divh2d-b8f3e327-GJp .la-informacin-de-los-certificados-que-se-muestran-en-este-portal-son-el-resultado-de-la-integracin-de-informacin-que-envan-las-autoridades-educativas-de-los-estados-y-la-ciudad-de-mxico-en-caso-de-que-la-informacin-presentada-no-coincida-con-tus-resultados-obtenidos-en-el-ciclo-escolar-o-no-est-disponible-por-favor-ponte-en-contacto-con-la-autoridad-de-tu-centro-escolar-PeL {
  max-width: 112.4rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .section-Ytc .divh2d-b8f3e327-GJp .auto-group-bket-8kL {
  box-sizing: border-box;
  padding-top: 1.25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .section-Ytc .divh2d-b8f3e327-GJp .auto-group-bket-8kL .la-informacin-presentada-es-de-carcter-informativa-y-para-verificar-la-validez-del-documento-impreso-es-una-representacin-de-la-informacin-contenida-en-el-certificado-documento-impreso-H7S {
  margin-bottom: 1.25rem;
  max-width: 112rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .main-xvY .section-J6Y .section-Ytc .divh2d-b8f3e327-GJp .auto-group-bket-8kL .el-documento-oficial-es-el-que-la-institucin-educativa-entrega-a-los-padres-o-tutores-de-los-educandos-en-sus-centros-escolares-hwr {
  max-width: 104rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .navigation-KTS {
  width: 126.333rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #0c231e;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .navigation-KTS .divcontainer-fXJ {
  width: 114rem;
  height: 6rem;
  position: absolute;
  left: 6.167rem;
  top: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .navigation-KTS .divcontainer-fXJ .divnavbar-header-CXE {
  width: 9.851rem;
  height: 2.9rem;
  position: absolute;
  left: 0;
  top: 1.5rem;
  object-fit: contain;
  vertical-align: top;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .navigation-KTS .divcontainer-fXJ .divnavbarmaincollapse-XJc {
  box-sizing: border-box;
  padding: 1.983rem 0rem 1.517rem 91.996rem;
  width: 114rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #0c231e;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .navigation-KTS .divcontainer-fXJ .divnavbarmaincollapse-XJc .list-SAg {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .navigation-KTS .divcontainer-fXJ .divnavbarmaincollapse-XJc .list-SAg .trmites-Pbi {
  margin-right: 3.063rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .navigation-KTS .divcontainer-fXJ .divnavbarmaincollapse-XJc .list-SAg .gobierno-WgL {
  margin-right: 3.041rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .navigation-KTS .divcontainer-fXJ .divnavbarmaincollapse-XJc .list-SAg .item-link-3RN {
  margin-bottom: 0.266rem;
  width: 1.6rem;
  height: 1.667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .navigation-KTS .nav-AVz {
  box-sizing: border-box;
  padding: 0rem 4.666rem 0rem 2.52rem;
  width: 126.333rem;
  height: 5.5rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #0c231e;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .navigation-KTS .nav-AVz .symbol-2o6 {
  margin: 0.566rem 1.347rem 0rem 0rem;
  text-align: right;
  display: flex;
  font-size: 3.8rem;
  font-weight: 900;
  line-height: 1;
  color: #f3f0f3;
  font-family: Font Awesome 5 Free, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .navigation-KTS .nav-AVz .divnavbarmaincollapse-LHz {
  box-sizing: border-box;
  padding-left: 5.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #0c231e;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .navigation-KTS .nav-AVz .divnavbarmaincollapse-LHz .logoheadersvg-r1S {
  margin: 0.526rem 21.895rem 0rem 0rem;
  width: 13.679rem;
  height: 4.026rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .navigation-KTS .nav-AVz .divnavbarmaincollapse-LHz .list-woa {
  margin-bottom: 0.929rem;
  height: 4.571rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .navigation-KTS .nav-AVz .divnavbarmaincollapse-LHz .list-woa .auto-group-3qwk-h24 {
  box-sizing: border-box;
  padding: 1.983rem 1.541rem 0.088rem 0rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .navigation-KTS .nav-AVz .divnavbarmaincollapse-LHz .list-woa .auto-group-3qwk-h24 .registro-para-vacunacin-bt8 {
  margin-right: 3.255rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .navigation-KTS .nav-AVz .divnavbarmaincollapse-LHz .list-woa .auto-group-3qwk-h24 .informacion-sobre-covid-19-7ba {
  margin-right: 3.167rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .navigation-KTS .nav-AVz .divnavbarmaincollapse-LHz .list-woa .auto-group-3qwk-h24 .trmites-nhi {
  margin-right: 3.063rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .navigation-KTS .nav-AVz .divnavbarmaincollapse-LHz .list-woa .auto-group-3qwk-h24 .gobierno-Vs2 {
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .navigation-KTS .nav-AVz .divnavbarmaincollapse-LHz .list-woa .button-qAC {
  box-sizing: border-box;
  padding: 1.594rem 2.5rem 1.377rem 2.5rem;
  height: 100%;
  background-color: #0c231e;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .auto-group-gzw4-kMz .navigation-KTS .nav-AVz .divnavbarmaincollapse-LHz .list-woa .button-qAC .lupapng-mpY {
  width: 1.6rem;
  height: 1.6rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/lupapng.png');
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e {
  box-sizing: border-box;
  padding-top: 3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #13322b;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A {
  margin: 0rem 7.216rem 7.012rem 6.167rem;
  width: calc(100% - 13.383rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-Jxt {
  margin-right: 5.625rem;
  width: 23.625rem;
  height: 6.954rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-eG4 {
  margin: 1.217rem 12.95rem 0rem 0rem;
  width: 16.3rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-eG4 .enlaces-Ztp {
  margin-bottom: 2.1125rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.0999999576;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-eG4 .list-TzC {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-eG4 .list-TzC .auto-group-jh4q-oYG {
  box-sizing: border-box;
  padding-bottom: 0.313rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-eG4 .list-TzC .auto-group-jh4q-oYG .link-participa-Xz4 {
  margin-bottom: 0.313rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-eG4 .list-TzC .auto-group-jh4q-oYG .link-publicaciones-oficiales-eon {
  margin-bottom: 0.312rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-eG4 .list-TzC .auto-group-jh4q-oYG .link-marco-jurdico-Zvk {
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-eG4 .list-TzC .link-6vg {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-eG4 .list-TzC .link-6vg .plataforma-nacional-de-fyn {
  margin-bottom: 0.112rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-eG4 .list-TzC .link-6vg .transparencia-zmA {
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-eG4 .list-TzC .auto-group-pd2k-YGt {
  box-sizing: border-box;
  padding-top: 0.313rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-eG4 .list-TzC .auto-group-pd2k-YGt .link-alerta-t5r {
  margin-bottom: 0.312rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-eG4 .list-TzC .auto-group-pd2k-YGt .link-denuncia-AZA {
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-Hdn {
  margin: 1.217rem 7.05rem 0rem 0rem;
  width: 22.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-Hdn .auto-group-fzsp-DXS {
  box-sizing: border-box;
  padding-bottom: 1.606rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-Hdn .auto-group-fzsp-DXS .qu-es-gobmx-mYx {
  margin-bottom: 1.9155rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.0999999576;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-Hdn .auto-group-fzsp-DXS .es-el-portal-nico-de-trmites-informacin-y-participacin-ciudadana-leer-ms-HnC {
  max-width: 20.5rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.3600000654;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-Hdn .list-b2C {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-Hdn .list-b2C .auto-group-opgk-LkU {
  box-sizing: border-box;
  padding-bottom: 0.313rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-Hdn .list-b2C .auto-group-opgk-LkU .link-portal-de-datos-abiertos-g3e {
  margin-bottom: 0.313rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-Hdn .list-b2C .auto-group-opgk-LkU .link-declaracin-de-accesibilidad-bRW {
  margin-bottom: 0.312rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-Hdn .list-b2C .auto-group-opgk-LkU .link-aviso-de-privacidad-integral-5Lg {
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-Hdn .list-b2C .link-aviso-de-privacidad-simplificado-PcG {
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-Hdn .list-b2C .auto-group-jdit-XCg {
  box-sizing: border-box;
  padding-top: 0.312rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-Hdn .list-b2C .auto-group-jdit-XCg .link-trminos-y-condiciones-UNp {
  margin-bottom: 0.313rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-Hdn .list-b2C .auto-group-jdit-XCg .link-poltica-de-seguridad-zc4 {
  margin-bottom: 0.312rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-Hdn .list-b2C .auto-group-jdit-XCg .link-mapa-de-sitio-Jse {
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-qMn {
  margin-top: 1.5505rem;
  width: 25.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-qMn .link-denuncia-contra-servidores-pblicos-mmE {
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.0999999728;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-qMn .auto-group-rkfs-tax {
  box-sizing: border-box;
  padding-top: 2.0455rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-qMn .auto-group-rkfs-tax .sguenos-en-R56 {
  margin-bottom: 2.013rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.0999999576;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-qMn .auto-group-rkfs-tax .list-vnY {
  margin: 0rem 19.3rem 0rem 0.7rem;
  width: calc(100% - 20rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-qMn .auto-group-rkfs-tax .list-vnY .item-link-facebook-de-presidencia-Fpp {
  margin-right: 1.4rem;
  width: 1.4rem;
  height: 2rem;
  position: relative;
  background-size: 1178.571% 100%;
  background-position: 0 0;
  background-image: url('../assets/item-link-facebook-de-presidencia.png');
  border-radius: 0.85rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divrow-C9A .divcol-sm-3-qMn .auto-group-rkfs-tax .list-vnY .item-link-twitter-de-presidencia-wBr {
  width: 2.4rem;
  height: 2rem;
  position: relative;
  background-size: 687.5% 100%;
  background-position: -3.4rem 0;
  background-image: url('../assets/item-link-twitter-de-presidencia.png');
  border-radius: 1.1rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-UE8 .auto-group-e13r-W4L .footer-e7e .divcontainer-fluid-pmS {
  width: 126.333rem;
  height: 5.142rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
